* {
  margin: 0 auto;
  padding: 0 auto;
}
.layout {
  width: 100vw;
  margin: 0 auto;
}
.header-menu {
  width: 100vw;
  height: 44px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: "Inter", sans-serif;
}
.header-text {
  margin: 0;
}
.apple-icon {
  margin: 0;
}
.search-button {
  margin: 0;
}
.market-button {
  margin: 0;
}
.zuraas {
  display: none;
  width: 18px;
  height: 18px;
}
.button1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-title {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 40px;
}
.iphone-background {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.iphone16pro {
  width: 100vw;
  height: 692px;
  background-image: url(./ip16pro.png);
  font-family: "Inter", sans-serif;
  background-position: center;
  background-size: cover;
}
.iphone16 {
  width: 100vw;
  height: 692px;
  font-family: "Inter", sans-serif;
  background-image: url(./ip16.png);
  background-position: center;
  background-size: cover;
}
.iphone-title {
  font-size: 52px;
  color: #f5f5f7;
}
.iphone-subtitle {
  font-size: 24px;
  color: #f5f5f7;
}
.learn-more {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: none;
  background-color: #0071e3;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.buy {
  width: 68px;
  height: 44px;
  color: #2997ff;
  border-radius: 999px;
  border-color: #2997ff;
  background-image: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: transparent;
}
.buttons {
  display: flex;
  gap: 16px;
}
.ip-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 115px;
}
.ip-title1 {
  display: none;
}
.ip-title2 {
  display: none;
}
.apple-logo-color {
  width: 100vw;
  height: 692px;
  background-image: url(./apple_logo_color.png);
  background-position: center;
  background-size: cover;
}
.lg-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 446px;
}
.lg-title2 {
  display: none;
}
.logo-title {
  font-size: 52px;
  color: black;
}
.logo-subtitle {
  font-size: 24px;
  color: black;
}
.container-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.containers {
  display: flex;
  width: 100vw;
  gap: 12px;
}
.container-left-1 {
  flex: 1;
  height: 580px;
  background-image: url(./ipad.png);
  background-position: center;
  background-size: cover;
}
.title1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  top: 50px;
}
.title-1 {
  display: none;
}
.title-2 {
  display: none;
}
.title-3 {
  display: none;
}
.title-4 {
  display: none;
}
.title-5 {
  display: none;
}
.title-6 {
  display: none;
}
.ipad-text {
  font-size: 18px;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
}
.text-color {
  display: flex;
  position: relative;
  top: 400px;
}
.text-color-1 {
  display: none;
}
.text-color1 {
  font-size: 14px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
  font-family: "Inter", sans-serif;
}
.container-right-1 {
  flex: 1;
  height: 580px;
  /* flex-shrink: 0; */
  background-image: url(./airpod.png);
  background-position: center;
  background-size: cover;
}
.airpods-text {
  color: #f5f5f7;
  font-family: "Inter", sans-serif;
  font-size: 36px;
}
.airpods-subtitle {
  color: #f5f5f7;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 0 10px;
}
.title2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 401px;
}
.container-left-2 {
  flex: 1;
  height: 580px;
  background-image: url(./iwatch.png);
  background-position: center;
  background-size: cover;
}
.watch-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #000000;
}
.series {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
.watch-subtitle {
  color: #1d1d1f;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.title3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 58px;
}
.watch {
  display: flex;
  gap: 10px;
}
.container-right-2 {
  flex: 1;
  height: 580px;
  background-image: url(./macbook.png);
  background-position: center;
  background-size: cover;
}
.mac-title {
  font-size: 36px;
  font-family: "Inter", sans-serif;
}
.mac-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.title4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 48px;
}
.container-left-3 {
  flex: 1;
  height: 580px;
  background-image: url(./tradein.png);
  background-position: center;
  background-size: cover;
}
.trade {
  display: flex;
  gap: 10px;
}
.trade-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
}
.trade-subtitle {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.trade-button {
  width: 167px;
  height: 40px;
  border-radius: 999px;
  color: #ffffff;
  background-color: #0071e3;
  border: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.title5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 58px;
}
.container-right-3 {
  flex: 1;
  height: 580px;
  background-image: url(./card.png);
  background-position: center;
  background-size: cover;
}
.apply-now {
  width: 112px;
  height: 40px;
  color: #2997ff;
  border-radius: 999px;
  border-color: #2997ff;
  background-image: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: transparent;
}
.card {
  display: flex;
  gap: 10px;
}
.title6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 58px;
}
.card-title {
  font-size: 32px;
  font-family: "Inter", sans-serif;
}
.card-subtitle {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.containers-1 {
  display: none;
}
.buy:hover {
  background-color: #0071e3;
  color: #ffffff;
  cursor: pointer;
}
.learn-more:hover {
  background-color: #0090f7;
  cursor: pointer;
}
.trade-button:hover {
  background-color: #0090f7;
  cursor: pointer;
}
.apply-now:hover {
  background-color: #0071e3;
  color: #ffffff;
  cursor: pointer;
}
.scroll {
  width: 100vw;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
  top: 12px;
  scroll-snap-type: none;
}
a {
  margin: 0;
  text-decoration: none;
  color: black;
}
.photos {
  display: flex;
  gap: 12px;
  width: 100vw;
}
.scroll-button {
  width: 133px;
  height: 44px;
  border-radius: 9999px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border: none;
  background-color: #f5f5f7;
  margin: 0;
}
.scroll-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 0;
}
.scroll-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 0;
}
.scroll-dot {
  margin: 0;
}
.photo1 {
  background-image: url(./napoleon.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo2 {
  background-image: url(./bad-monkey.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo3 {
  background-image: url(./instigators.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo4 {
  background-image: url(./k-pop-idols.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo5 {
  background-image: url(./season-pass.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo6 {
  background-image: url(./pressumed-innocent.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo7 {
  background-image: url(./pachinko.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo8 {
  background-image: url(./baseball.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo9 {
  background-image: url(./lady-in-the-lake.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}
.photo10 {
  background-image: url(./morning-show.jpg);
  background-position: center;
  background-size: cover;
  width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  flex-shrink: 0;
}

.ipadair {
  width: 100vw;
}

.stream-and-text {
  color: white;
  position: relative;
  top: 570px;
  left: 70px;
  display: flex;
  margin: 0;
  gap: 20px;
  align-items: center;
}
.stream-and-text1 {
  display: none;
}
/* цэгэн скролл хийх таг */
.dots {
  display: flex;
  margin-top: 14px;
  gap: 10px;
  justify-content: center;
}
.dot {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  border-radius: 50%;
  background-color: #0000006b;
}
.dot:hover {
  opacity: 1;
}
.button1:hover {
  cursor: pointer;
}
.scroll-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.header-text:hover {
  cursor: pointer;
}
/* for tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-text {
    display: none;
  }
  .button1 {
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 30px;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    /* gap: 0; */
    margin: 0;
    /* position: relative; */
  }
  .apple-icon {
    padding: 20px;
  }
  .zuraas {
    display: flex;
  }
  .iphone16pro {
    width: 100vw;
    height: 650px;
    background-image: url(./ip16pro-2.png);
    background-position: center;
    background-size: cover;
  }
  .iphone16 {
    width: 100vw;
    height: 650px;
    background-image: url(./ip16-2.png);
    background-position: center;
    background-size: cover;
  }
  .iphone-title {
    font-size: 42px;
  }
  .iphone-subtitle {
    font-size: 22px;
  }
  .apple-logo-color {
    background-image: url(./apple_logo_color.png);
    background-position: center;
    background-size: cover;
  }
  .logo-title {
    font-size: 44px;
  }
  .logo-subtitle {
    font-size: 22px;
  }
  .container-left-1 {
    background-image: url(./man.png);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 490px;
  }
  .text-color {
    display: none;
  }
  .title1 {
    display: none;
  }
  .title2 {
    display: none;
  }
  .title3 {
    display: none;
  }
  .title4 {
    display: none;
  }
  .title5 {
    display: none;
  }
  .title6 {
    display: none;
  }
  .title-1 {
    display: flex;
    margin: 0;
    flex-direction: column;
    margin-top: 300px;
    color: white;
    flex-wrap: wrap;
  }
  .container-right-1 {
    height: 490px;
    background-image: url(iwatch-2.png);
    background-position: center;
    background-size: cover;
    width: 50vw;
  }
  .title-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 30px;
    color: black;
  }
  .watch-2 {
    display: flex;
    gap: 10px;
  }
  .airpods-text {
    font-size: 44px;
  }
  .ipad-air {
    width: 40vw;
  }

  .container-left-2 {
    height: 490px;
    background-image: url(./macbook-air-2.png);
    background-position: center;
    background-size: cover;
    background-color: #f5f5f7;
  }
  .title-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  .container-right-2 {
    background-image: url(./small-business.png);
    background-position: center;
    background-size: cover;
    height: 490px;
  }
  .title-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .container-left-3 {
    background-image: url(./carier.png);
    background-position: center;
    background-size: cover;
    height: 490px;
  }
  .title-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .container-right-3 {
    height: 490px;
    background-image: url(./trade-in.png);
    background-position: center;
    background-size: cover;
  }
  .title-6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .scroll {
    width: 100vw;
  }
  .photo1 {
    background-image: url(./scroll1.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo2 {
    background-image: url(./scroll2.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo3 {
    background-image: url(./scroll3.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo4 {
    background-image: url(./scroll4.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo5 {
    background-image: url(./scroll5.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo6 {
    background-image: url(./scroll6.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo7 {
    background-image: url(./scroll7.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo8 {
    background-image: url(./scroll8.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo9 {
    background-image: url(./scroll9.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .photo10 {
    background-image: url(./scroll10.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 387px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }
  .scroll-button {
    font-size: 14px;
  }
  .scroll-title {
    font-size: 14px;
  }
  .scroll-subtitle {
    font-size: 14px;
  }
  .stream-and-text {
    display: none;
  }
  .stream-and-text1 {
    color: white;
    position: relative;
    top: 330px;
    left: 30px;
    display: flex;
    margin: 0;
    gap: 20px;
    align-items: center;
  }
}
/* for phone */
@media only screen and (min-width: 10px) and (max-width: 767px) {
  .header-text {
    display: none;
  }
  .layout {
    width: 100vw;
  }
  .header-menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
  }
  .apple-icon {
    padding: 20px;
  }
  .zuraas {
    display: flex;
  }
  .button1 {
    padding: 20px;
    display: flex;
    gap: 30px;
  }
  .header-title {
    height: 58px;
    width: 100vw;
    /* margin: 0; */
  }
  .iphone16pro {
    width: 100vw;
    /* height: 500px; */
    background-image: url(./iPhone-16-Pro-1.png);
    background-position: center;
    background-size: cover;
  }
  .ip-title {
    display: none;
  }
  .ip-title1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 500px;
    gap: 12px;
  }
  .iphone-title {
    font-size: 30px;
  }
  .iphone-subtitle {
    font-size: 18px;
  }
  .iphone16 {
    background-image: url(./iPhone-16-1.png);
    background-position: center;
    background-size: cover;
  }
  .ip-title2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 80px;
  }
  .apple-logo-color {
    background-image: url(./iPad-air-1.png);
    background-position: center;
    background-size: cover;
  }
  .lg-title {
    display: none;
  }
  .lg-title2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 70px;
  }
  .text-color-1 {
    display: flex;
    position: relative;
    top: 470px;
  }
  .text-color2 {
    font-size: 14px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      90deg,
      #0090f7 0%,
      #ba62fc 50%,
      #f2416b 100%
    );
    font-family: "Inter", sans-serif;
  }
  .title1 {
    display: none;
  }
  .title2 {
    display: none;
  }
  .text-color {
    display: none;
  }
  .containers {
    display: none;
  }
  .containers-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .container-left--1 {
    background-image: url(./man-2.jpeg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    /* margin: 0; */
  }
  .container-right--1 {
    background-image: url(iwatch.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .container-left--2 {
    background-image: url(./macbook.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .container-right--2 {
    background-image: url(./smallBusiness.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    width: 100vw;
    height: 500px;
  }
  .container-left--3 {
    background-image: url(./carrierDeals.jpeg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .container-right--3 {
    background-image: url(./tradein.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .title--1 {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
    gap: 10px;
    position: relative;
    top: 300px;
  }
  .title--2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    gap: 10px;
  }
  .watch-2 {
    display: flex;
    gap: 10px;
  }
  .title--3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 50px;
  }
  .title--4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 50px;
    /* margin: 0; */
  }
  .title--5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 320px;
  }
  .title--6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 50px;
  }
  .scroll {
    width: 100vw;
  }
  .photo1 {
    background-image: url(./scroll1.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo2 {
    background-image: url(./scroll2.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 496px;
  }
  .photo3 {
    background-image: url(./scroll3.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo4 {
    background-image: url(./scroll4.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo5 {
    background-image: url(./scroll5.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo6 {
    background-image: url(./scroll6.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo7 {
    background-image: url(./scroll7.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo8 {
    background-image: url(./scroll8.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo9 {
    background-image: url(./scroll9.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .photo10 {
    background-image: url(./scroll10.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
    height: 495px;
  }
  .stream-and-text1 {
    display: none;
  }
  .stream-and-text {
    display: none;
  }
}
